/* Reset и базовые стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px; /* Базовый размер для экранов < 1920px */
}

@media (min-width: 1920px) {
    html {
        font-size: calc(100vw / 1920 * 16); /* Динамическое масштабирование для > 1920px */
    }
}

body {
    font-family: 'Onest', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: var(--body-s-size);
    line-height: var(--body-s-line-height);
    font-weight: 300;
}

.container {
    margin: 0 auto;
    padding: 0 24px; /* Внутренний отступ теперь 24px */
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}
