/* Reset и базовые стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px; /* Базовый размер для экранов < 1920px */
    /* Скрываем вертикальную полосу прокрутки, сохраняя возможность скролла */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE и Edge */
}

/* Скрываем скроллбар для WebKit браузеров (Chrome, Safari) */
html::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
}

@media (min-width: 1920px) {
    html {
        font-size: calc(100vw / 1920 * 16); /* Динамическое масштабирование для > 1920px */
    }
}

body {
    font-family: 'Manrope', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: var(--body-s-size);
    line-height: var(--body-s-line-height);
    font-weight: var(--body-s-font-weight);
    /* Скрываем вертикальную полосу прокрутки, сохраняя возможность скролла */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE и Edge */
}

/* Скрываем скроллбар для WebKit браузеров (Chrome, Safari) */
body::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 var(--grid-margin); /* Используем переменную сетки */
    box-sizing: border-box;
}

.container-grid {
    width: 100%;
    margin: 0 auto;
    padding: 0 var(--grid-margin);
    display: grid;
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    column-gap: var(--grid-gutter);
}

a {
    text-decoration: none;
    color: inherit;
}
