/* Reset и базовые стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px; /* Базовый размер для экранов < 1920px */
}

@media (min-width: 1920px) {
    html {
        font-size: calc(100vw / 1920 * 16); /* Динамическое масштабирование для > 1920px */
    }
}

body {
    font-family: 'Onest', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: var(--body-s-size);
    line-height: var(--body-s-line-height);
    font-weight: var(--body-s-font-weight);
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 var(--grid-margin); /* Используем переменную сетки */
    box-sizing: border-box;
}

.container-grid {
    width: 100%;
    margin: 0 auto;
    padding: 0 var(--grid-margin);
    display: grid;
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    column-gap: var(--grid-gutter);
}

a {
    text-decoration: none;
    color: inherit;
}
